In [2]:
lines = '''"Based on the given database schema and examples, I will generate an SQL query to answer the question "Who are all pass?". 

To answer this question, we need to check which cc_no has a status of 'passed' in both tasks_cycle and memory_details tables. Here is the SQL query:

```
SELECT DISTINCT tc.cc_no
FROM tasks_cycle tc
JOIN memory_details md ON tc.cc_no = md.cc_no
WHERE tc.status_ = 'passed' AND md.status_ = 'passed';
```

This query joins tasks_cycle and memory_details on cc_no, then selects all distinct cc_no that have a status of 'passed' in both tables.'''

In [5]:
lines.splitlines()

['"Based on the given database schema and examples, I will generate an SQL query to answer the question "Who are all pass?". ',
 '',
 "To answer this question, we need to check which cc_no has a status of 'passed' in both tasks_cycle and memory_details tables. Here is the SQL query:",
 '',
 '```',
 'SELECT DISTINCT tc.cc_no',
 'FROM tasks_cycle tc',
 'JOIN memory_details md ON tc.cc_no = md.cc_no',
 "WHERE tc.status_ = 'passed' AND md.status_ = 'passed';",
 '```',
 '',
 "This query joins tasks_cycle and memory_details on cc_no, then selects all distinct cc_no that have a status of 'passed' in both tables."]

In [16]:
for line in lines.splitlines():
    
    if line.strip().startswith("SELECT"):
        print(line.strip())

SELECT DISTINCT tc.cc_no